* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
h1 {
  margin-bottom: 2vh;
  font-family: serif;
  font-size: 64px;
}
h2 {
  margin-top: 2vh;
  font-size: 28px;
  margin-bottom: 1vh;
}
.container {
  align-self: center;
}
.board {
  height: 410px;
  width: 410px;
  background-color: #cdc1b5;
  border: 5px solid #bbadb0;
  align-self: center;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: 100px;
  height: 100px;
  border: 5px solid #bbadb0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  opacity: 0;
}
.x2 {
  background-color: #eee4da;
  color: #727371;
}

.x4 {
  background-color: #ece0ca;
  color: #727371;
}

.x8 {
  background-color: #f4b17a;
  color: white;
}

.x16 {
  background-color: #f59575;
  color: white;
}

.x32 {
  background-color: #f57c5f;
  color: white;
}

.x64 {
  background-color: #f65d3b;
  color: white;
}

.x128 {
  background-color: #edce71;
  color: white;
}

.x256 {
  background-color: #edcc63;
  color: white;
}

.x512 {
  background-color: #edc651;
  color: white;
}

.x1024 {
  background-color: #eec744;
  color: white;
}

.x2048 {
  background-color: #ecc230;
  color: white;
}
